@model ApplicationUser

@{
    ViewBag.Title = "Employé édition" + Model.FullName();
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="shadow p-3 mb-5 bg-light rounded">
            <h1>Editer</h1>
            <h4>Commandes</h4>
            <hr/>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                
                <div class="form-group">
                    <label asp-for="Percentage" class="control-label"></label>
                    <input asp-for="Percentage" class="form-control"/>
                    <span asp-validation-for="Percentage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountStatus" class="control-label"></label>
                    <select asp-for="AccountStatus" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    <span asp-validation-for="AccountStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
