@{
    ViewData["Title"] = "Infos";
}

<div class="shadow p-3 mb-5 bg-light rounded">

<h1>@ViewData["Title"]</h1>

    <p>Cette application web est destinée aux joueurs de <b>GTA RP</b> sur le serveur <b>MANZIBAR</b></p>
    <p>Elle est ratâchée aux joueurs ayant le métier <b>Distillerie</b></p>
    <p>Pour un retour de bug ou d'évolution, contactez <b>@@Allan "Capuchon" Tassin"</b> sur le Discord</p>
    
    <p>Aucune donnée n'est utilisée pour des statistiques (cookies). Seul une adresse email est demandée et elle n'est pas visible par les utilisateurs</p>
    <p>Le code source est disponible sur <a href="https://github.com/rampinflorian/DistillerieManzibar">GitHub</a></p>
    

</div>